.container {
  background-color: #fff;
  color: rgba(10, 51, 81, 1);
  padding: 3rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.contactText {
  max-width: 600px;
  padding-top: 1rem;
}

.contactText h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 700;
}

.contactText h2 {
  font-size: 1.75rem;
  margin: 1.25rem 0;
  font-weight: 400;
}

.contactText h2 a {
  transition: color 250ms;
}

.contactText h2 a:hover {
  color: rgba(0, 212, 255, 1);
}

@media (max-width: 1000px) {
  .container {
    padding: 0 2rem 2rem 2rem;
    gap: 2rem;
  }

  .contactText h1 {
    font-size: 3rem;
    text-align: center;
  }

  .contactText h2 {
    font-size: 1.5rem;
  }
}
