.container {
  margin: 3rem 2rem;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container hr {
  width: 55%;
  opacity: 0.5;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.service h1 {
  color: rgb(10, 51, 81);
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.service h1:hover {
  color: rgb(0, 212, 255);
}

.service p {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .container {
    margin: 1.5rem 1rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
  }

  .service {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .serviceText {
    order: 2;
  }

  .service h1 {
    text-align: center;
  }
}
